body{
    background-color:silver;
}
.card{
    position: fixed;
    border-radius: 50px;
    background-color:khaki;
    justify-content: center;
    padding-top: 300px;
    display: flex;
    
    

    
}
